{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block header_title %} Authentication {% endblock %}
{% block title_sub %} Login {% endblock %}

{% block content %}
    <div class="container">
        <h2>Login Form</h2>
        <form class="mt-3" action="{{ url_for('welcome') }}">
            <div class="mb-3">
              <label for="mail" class="form-label">Correo</label>
              <input type="email" class="form-control" id="mai1"  name="mail" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="Password">
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
    </div>
{% endblock %}