{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block header_title %} Authentication {% endblock %}
{% block header_sub %} Register {% endblock %}

  {% block content%}

<div class="container">
    <h2>Formulario de registro</h2>
   <form action="">
    <div class="mb-3">
        <label for="mail" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name"  name="name">
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="last_name"  name="last_name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email"  name="email">
      </div>
      <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="pass"  name="pass">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Telefono</label>
        <input type="number" class="form-control" id="phone"  name="pehone">
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
            <a type="button" href="{{ url_for('login') }}" class="btn btn-danger">Login</a>
       
    </form> 
</div>


{% endblock %} 
